.tibia-input {
  display: block;
  background: url('~/assets/background_dark.png');
  border: 1px solid transparent;
  border-image: url('~/assets/input_border.png') 1;
  border-image-width: 1px;
  padding: 0.25rem 0.35rem;
  width: 100%;
  color: #fff;
  margin-bottom: 5px;
  font-weight: bold;
}

.tibia-btn {
  display: block;
  padding: 0.25rem 0.5rem;
  margin: 0;
  border-radius: 0;
  color: rgba(255, 255, 255, 0.5);
  font-weight: bold;
  background: url('~/assets/background.png');
  border: 1px solid transparent;
  border-image: url('~/assets/button_normal_border.png') 1;
  border-image-width: 1px;
  &:active {
    padding-top: 0.3rem;
    border-image: url('~/assets/button_active_border.png') 1;
  }
  &:focus {
    outline: 0;
  }
}
