<div>
  <div class="row">
    <div class="col-11">
      <input type="text" class="tibia-input" placeholder="Save to generate share link" readonly />
    </div>
    <div class="col-1">
      <button class="tibia-btn float-right" type="submit">Save</button>
    </div>
  </div>
</div>
<hr />
<div>
  <select class="tibia-input">
    <option>Common</option>
    <option>Rare</option>
    <option>Epic</option>
    <option>Legendary</option>
    <option>Mythic</option>
  </select>
  <input type="text" class="tibia-input" placeholder="Item Name" />
  <input type="text" class="tibia-input" placeholder="Item Level" />
  <input type="text" class="tibia-input" placeholder="Upgrade Level" />

  <button class="tibia-btn" type="submit">Add Item</button>
</div>
