<div class="container-fluid">
  <div class="row h-85">
    <div class="col-4">
      <div class="row h-50">
        <div class="col-12">
          <us-main-menu></us-main-menu>
        </div>
      </div>
      <div class="row h-50">
        <div class="col-12">
          <us-bonus-stats class="bonus-stats"></us-bonus-stats>
        </div>
      </div>
    </div>
    <div class="col-4 pt-0 overflow-auto">
      <div class="row">
        <div class="col-12">
          <us-equipment></us-equipment>
        </div>
      </div>
    </div>
    <div class="col-4 overflow-auto">
      <us-inventory></us-inventory>
    </div>
  </div>
  <div class="row h-15">
    <div class="col-10">
      <us-chatbox class="chatbox"></us-chatbox>
    </div>
    <div class="col-2">
      <us-infobox class="infobox"></us-infobox>
    </div>
  </div>
</div>
